<ion-app>
<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title color ="danger">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]='formularioLogin'>

    </form>

    <ion-card>
    
      <ion-card-content>
        
        <ion-item>
          <ion-Label position="floating">
             Usuario
          </ion-Label>
          <ion-input formControlName='Nombre'></ion-input>
         </ion-item>
   
         <ion-item>
           <ion-Label position="floating">
              Contrasena
           </ion-Label>
           <ion-input formControlName='Password' type='Password'></ion-input>
         </ion-item>
         <br>
         <ion-button (click)='Ingresar()' color="danger">
           Ingresar
         </ion-button>
         <ion-button (click)='Limpiar()' color="danger">
          Limpiar
        </ion-button>

      </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>

  <ion-toolbar color='dark'>

    <ion-buttons slot='end'>

      <ion-button [routerLink]="['/registro']" color="danger">Registrarse</ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-footer>
</ion-app>