<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title color ="danger">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >
        <ion-item [routerLink]="['/home']" color ="dark">Home</ion-item>
        <ion-item [routerLink]="['/login']" color ="dark">Login</ion-item>
        <ion-item [routerLink]="['/productos']" color ="dark">Productos</ion-item>
        <ion-item [routerLink]="['/registro']" color ="dark">Registro</ion-item>
        <ion-item [routerLink]="['/carrito']" color ="dark">Ver Carrito</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet  id="main" ></ion-router-outlet>
</ion-app>
